<h1> Waves Beaches</h1>
<div id='beachList' *ngIf="! selected">
  <table>
    <thead>
    <tr>
      <th>
        Beach Name
      </th>
      <th>
        Beach Rating
      </th>
      <th>
        Beach Zip
      </th>
      <th>
        Beach Image
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beach of beaches">
      <td (click)="displayBeach(beach)">{{ beach.name }}</td>
      <td (click)="displayBeach(beach)">{{ beach.rating }}</td>
      <td (click)="displayBeach(beach)">{{ beach.location.zip }}</td>
      <td (click)="displayBeach(beach)"><img height="100px" [src]="beach.defaultImage"></td>
    </tr>
  </tbody>
  </table>
  </div>

<div id='beachDetails' *ngIf="selected">
  <h2>{{selected.name}}</h2>
  <span
  class="bi"
  [ngClass]="isFavorite?'bi-star-fill':'bi-star'"
  (click)="toggleFavorite(selected)"
   *ngIf="checkLogin()"></span>
  <h3>{{isFavorite}}</h3>
  <img src="{{selected.defaultImage}}" alt= "{{ selected.name }}">
  <p>{{selected.description}}</p>

  <h2>Location</h2>
  <table>
    <thead>
      <tr>
        <th> Street </th>
        <th> City </th>
        <th> State </th>
        <br>
        <th> Zip </th>
      </tr>
    </thead>
    <tbody>
      <td>{{selected.location.street}}</td>
      <td>{{selected.location.city}}</td>
      <td>{{selected.location.state}}</td>
      <td>{{selected.location.zip}}</td>
    </tbody>
  </table>
  <!-- Report Section -->
  <h3>Reports</h3>
  <table>
    <thead>
    <tr>
      <th> Report Id </th>
      <th> Comment </th>
      <th> Created </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of reports">
      <td>{{report.id}}</td>
      <td>{{report.comment}}</td>
      <td>{{report.created}}</td>
    </tr>
  </tbody>
  </table>
  <br>
  <form *ngIf="isLogin" name="ReportForm"   class="form-group">
    <div>
      <textarea cols="31" rows="5" placeholder="Enter Comment Here." name="comment" [(ngModel)]="newReport.comment"></textarea>
    </div>
    <div>
      <input id="image" type="text" name="image" size="32" placeholder="Image Url" [(ngModel)]="newReport.image">
    </div>
    <div>
      <select id="rating" name="rating" [(ngModel)]="newReport.rating">
        <option value="0" width="50" disabled selected hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Beach &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </div>
    <button class="button"  (click)="addReport(newReport)">Submit</button>
  </form>

    <br>
    <br>

    <!-- Weather Section -->
    <h3>Weather</h3>
    <div name="weatherForThisBeach">
      <table >
        <thead>
          <tr>
            <td>username</td>
            <td>weatherType</td>
            <td>...</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of thisBeachPosts">
              <td>{{post.user.username}}</td>
              <td>{{post.weatherType}}</td>
              <td>
                {{post.waveSize}}
              </td>
              <td> {{post.created}} </td>
          </tr>
        </tbody>
      </table>
      <br>
    <form *ngIf="isLogin" name="WeatherForm" class="form-group"  >
      <h4>Add a Weather Update</h4>
      <div>
        <textarea cols="31" rows="5" placeholder="Enter A Weather Description" name="description" [(ngModel)]="newWeather.description"></textarea>
      </div>
      <div>
        <input id="temperature" placeholder="Temperature" size="32" type="text" name="temperature" [(ngModel)]="newWeather.temperatureCelsius">
      </div>
      <div>
        <select   id="weatherType" name="weatherType" [(ngModel)]="newWeather.weatherType">
          <option value="" disabled selected hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Weather &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="Sunny">Sunny</option>
          <option value="Partially Cloudy">Partially Cloudy</option>
          <option value="Cloudy">Cloudy</option>
          <option value="Overcast">Overcast</option>
          <option value="Raining">Raining</option>
          <option value="Storming">Storming</option>
      </select>
      </div>
      <div>
        <select id="waveSize" name="waveSize" [(ngModel)]="newWeather.waveSize">
          <option value="" disabled selected hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wave &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Size &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="Flat">Flat</option>
          <option value="Chest Height">Chest Height</option>
          <option value="Head Height">Head Height</option>
          <option value="Over Head">Overhead</option>
          <option value="Double Over Head">Double Overhead</option>
      </select>
      </div>


      <button class="button" (click)="addWeather(newWeather)">Submit</button>
    </form>
    </div>

</div>
