<h1> Waves Beaches</h1>
<div id='beachList' *ngIf="! selected">
<table>
  <thead>
  <tr>
    <th>
      Beaches
    </th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let beach of beaches">
    <td (click)="displayBeach(beach)">{{ beach.name }}</td>
  </tr>
</tbody>
</table>
</div>

<div id='beachDetails' *ngIf="selected">
  <h2>{{selected.name}}</h2>
  <img src="{{selected.defaultImage}}" alt= "{{ selected.name }}">
  <p>{{selected.description}}</p>

  <h3>Reports</h3>
  <table>
    <thead>
    <tr>
      <th>
        Beach Comments
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let report of reports">
      <td displayReport(beach)>{{ report.comment }}</td>
    </tr>
  </tbody>
  </table>
  <form action="createReport">

  </form>
  <h3>Weather</h3>
  <form action="createWeather">

  </form>
</div>
