th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
th {
  background-color: #202020b6;
  color: white;
}
table{
  margin-left: 150px;
}
tr:hover {background-color: #01eeff3d;}
.button{
  margin-left: auto;
  margin-right: auto;
}
.reportCentered{
  margin-left: 450px;
}
.reportTextCentered{
  margin-left: 50px;
}
.weatherCentered{
  margin-left: 350px;
}
.weatherTextCentered{
  margin-left: 50px;
}
.locationTextCentered{
  margin-left: 50px;
}
.locationCentered{
  margin-left: 650px;
}
h2{
margin-left: 60px;
}

p{
overflow-wrap: break-word;
inline-size: 950px;
}
h1{
  font-family: 'Luminari', fantasy;
  font-size: 75px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(0, 0, 0, 0.683);
}
.beachImage {
  width:900px;
  height:500px;
  margin-left: 50px;
}

.beachDescription{
  margin-left: 350px;
}
form{
/* margin-left: 250px; */
margin-left: 50px;
}

.title{
  margin-left: 50px;
  margin-top: -6px;
}

.bi{
  z-index: 3;
  color:rgb(255, 149, 0);
  float: right;
  margin-right: 322px;
  margin-top: -60px;
  position: relative;
  font-size: 45px;
  float: right;
}
.beachList {
  margin-left: 380px;
  /* margin-right: auto; */
}
.selections {
margin-top: -35px;
padding-bottom: 15px;
}




