<div class="centerLogin">
<div *ngIf="!isLogin">
    <h1>Login</h1>
    <br>
<form >
  <input type="text" name="username" placeholder="username" [(ngModel)]="user.username"><br>
  <input type="text" name="password" placeholder="password" [(ngModel)]="user.password"><br>
  <div class="floatRight">
  <button class=myButton (click)="login()">Login</button>
</div>
</form>
</div>
</div>
<div class="centerInfo">
<div *ngIf="!existed">
  <h3>Account doesn't exist, please register!</h3>
</div>
<div *ngIf="isLogin">
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Enabled</th>
        <th>Role</th>
        <th>Email</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.enabled}}</td>
        <td>{{user.role}}</td>
        <td>{{user.email}}</td>
        <td><img height="145px" [src]="user.profileImage"></td>
      </tr>
    </tbody>

  </table>

</div>
</div>
