
<div class="content">
  <div style="flex-grow: 0.2;" *ngIf="!loggedIn()" class="left">
    <ul>
    <li><a [routerLink]="['/login/fillout']" routerLinkActive="active">Login</a></li>
    <li><a [routerLink]="['/login/register']" routerLinkActive="active">Register</a></li>
  </ul>
  </div>

  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
<ul class="cb-slideshow">
  <li><span>Image 01</span></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
  <li><span>Image 07</span></li>
  <h3>Waves</h3>
</ul>
