a{
  color: white;
  text-emphasis-color: white;
}
.content{
  margin-top: 25px;
  display: flex;
  position: relative;
  z-index: -2;
}

ul{
  list-style-type: none;
}
ul a{
  text-decoration: none;
  margin: 0;
  padding: 20px 60px;
  background-color: #202020b6;
  padding-right: 100px 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
li a {
  text-decoration: none;
  display: block;
  color: rgb(255, 255, 255);
  padding: 10px 16px;
}
/* Change the link color on hover */
li a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);

}
ul a:hover {background-color: #000000ef;}
