<div class="background">
  <div class="content">
    <div class="left">
      <br>
      <br>
      <ul>
      <li><a [routerLink]="['/home/showreport']" routerLinkActive="active"></a></li>
      <li><a [routerLink]="['/home/showbeach']" routerLinkActive="active">Show Beaches</a></li>
      <li><a [routerLink]="['/home/searchbeach']" routerLinkActive="active">Search Beaches By Keyword</a></li>
      <li><a [routerLink]="['/home/searchrating']" routerLinkActive="active">Search Beaches By Rating</a></li>
      <li><a [routerLink]="['/home/searchdistance']" routerLinkActive="active">Search The Nearest Beaches</a></li>
    </ul>
    </div>

    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
