
<div class="content">
  <div class="left">
    <br>
    <br>
    <a [routerLink]="['/home/showreport']" routerLinkActive="active">Welcome</a>
    <br>
    <br>
    <br>
    <a [routerLink]="['/home/showbeach']" routerLinkActive="active">Show Beaches</a>
    <br>
    <br>
    <br>
    <a [routerLink]="['/home/searchbeach']" routerLinkActive="active">Search Beaches By Keyword</a>
    <br>
    <br>
    <br>
    <a [routerLink]="['/home/searchrating']" routerLinkActive="active">Search Beaches By Rating</a>
    <br>
    <br>
    <br>
    <a [routerLink]="['/home/searchdistance']" routerLinkActive="active">Search The Nearest Beaches</a>
  </div>

  <div class="right">
    <router-outlet></router-outlet>
  </div>
</div>
