.content{
  margin-top: 150px;
  display: flex;
}
a{
  display: flex;
  margin: 0;
  padding: 10px 40px;
  text-decoration: none;
  background-color: #00000083;
  color: white;
  padding-right: 100px 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.left{
  width: 200px;
  height: 800px;
}

.right{
  flex: 1px;
}
