.centerAll{
text-align: center;
margin-left: 270px;
}
h1{
  font-family: 'Luminari', fantasy;
  font-size: 75px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(0, 0, 0, 0.683);
margin-left: 380px;
}
