.centerAll{
position: relative;
z-index: 0;
margin: auto;
}
h1{
  font-family: 'Luminari', fantasy;
  font-size: 75px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(0, 0, 0, 0.683);
margin-left: 380px;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
th {
  background-color: #202020b6;
  color: white;
}

tr:hover {background-color: #01eeff3d;}
.button{
  margin-left: auto;
  margin-right: auto;
}
.reportCentered{
  margin-left: auto;
  margin-right: auto;}
.reportTextCentered{
  margin-left: auto;
  margin-right: auto;}
.weatherCentered{
  margin-left: auto;
  margin-right: auto;}
.weatherTextCentered{
  margin-left: auto;
  margin-right: auto;
}
.locationTextCentered{
  margin: auto;
}
  .locationCentered{
    margin: auto;
  }
h2{
margin-left: 250px;
}

p{
overflow-wrap: break-word;
inline-size: 950px;
}

.beachImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 85%;
}

.beachDescription{
  margin-left: auto;
  margin-right: auto;
}
form{
/* margin-left: 250px; */
margin-left: auto;
  margin-right: auto;
}

.title{
  margin-left: 50px;
  margin-top: -6px;
}

.bi{
  z-index: 3;
  color:rgb(255, 149, 0);
  float: right;
  margin-right: 142px;
  position: relative;
  font-size: 45px;
margin-top: -45px;
}
.beachList {
  margin-left: 180px;
  /* margin-right: auto; */
}
.selections {
margin-top: -35px;
padding-bottom: 15px;
}
.selectedBeach{
  margin-left: 170px;
}



