.topHeader{
  font-family: 'Luminari', fantasy;
  font-size: 75px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(0, 0, 0, 0.683);
margin-left: 380px;
}
.beachLists{
  margin-left: 160px;
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
th {
  background-color: #202020b6;
  color: white;
}

tr:hover {background-color: #01eeff3d;}
.button{
  margin-left: auto;
  margin-right: auto;
}
.reportCentered{
  margin-left: 250px;
}
.reportTextCentered{
  margin-left: 500px;
}
.weatherCenter{
  margin-left: 200px;
}
.weatherTextCentered{
  margin-left: 500px;
}
h2{
margin-left: 250px;
}
h4{
margin-left: 40px;
}
.beachImage {
  width:900px;
  height:500px;
  margin-left: 100px;
}
.beachDescription{
  margin-left: 100px;
}
form{
margin-left: 420px;
}
.title{
  margin-left: 50px;
  margin-top: -6px;
}
.bi{
  z-index: 3;
  color:rgb(255, 149, 0);
  float: right;
  margin-right: 342px;
  position: relative;
  font-size: 45px;
margin-top: -45px;
}
.beachList {
  margin-left: 180px;
  /* margin-right: auto; */
}
.selections {
margin-top: -35px;
padding-bottom: 15px;
}
.selectedBeach{
  margin-left: 90px;
}
.selectedBeach p{
  margin-left: 155px;
}
.selectedBeach h2{
  margin-left: 410px;
}
.selectedBeach img{
  width:900px;
  height:500px;
  margin-left: 30px;
}
.selectedBeach table{
  margin-left: 290px;
}
.beachDescription{
  overflow-wrap: break-word;
  inline-size: 950px;
  margin-left: 250px;
  }
.button {
  text-align: center;
}
