ul{
  list-style-type: none;
}
.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -3;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -3;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: -1;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
  font-family: 'Luminari', fantasy;
  font-size: 230px;
  padding: 0;
  line-height: 200px;
  margin-bottom: 165px;
  margin-left: -400px;
}
.cb-slideshow li:nth-child(1) span {
  background-image: url("https://images.pexels.com/photos/8849970/pexels-photo-8849970.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500")
}
.cb-slideshow li:nth-child(2) span {
  background-image: url("https://images.pexels.com/photos/1835712/pexels-photo-1835712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url("https://images.pexels.com/photos/2607830/pexels-photo-2607830.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url("https://images.pexels.com/photos/1835718/pexels-photo-1835718.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url("https://images.pexels.com/photos/3155661/pexels-photo-3155661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url("https://images.pexels.com/photos/3293150/pexels-photo-3293150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}
@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 { font-size: 80px }
}
.backgroundText{
  color: rgb(255, 255, 255);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(0, 0, 0, 0.683);
}
