<div class="bodyCenter">
<h1 class="title"> Waves Users</h1>
<br>
<div *ngIf="isLogin && role=='admin'">

  <div *ngIf='userList.length > 0'>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Enabled</th>
        <th>Email</th>
        <th>Role</th>
        <th>ProfileImage</th>
        <th>Enable/Disable</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of userList'>
        <td>{{user.username}}</td>
        <td>{{user.enabled}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td *ngIf='user.enabled'><img height="80px" [src]="user.profileImage"></td>
        <td *ngIf='!user.enabled'><img height="80px" [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4iz-hXWr2pgUAerTjgdzGRfZWBb6BAfDI7A&usqp=CAU'"></td>
        <td><button *ngIf='user.enabled' (click)='reverse(user)' type="button">Disable</button>
        <button *ngIf='!user.enabled' (click)='reverse(user)' type="button">Enable</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<br>

<p *ngIf="!isLogin || role!='admin'">Please login as admin to access this!</p>
</div>
