.bodyCenter {
  margin-left: 300px;
 }

 h1{
  font-family: 'Luminari', fantasy;
  font-size: 75px;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(0, 0, 0, 0.683);
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}
th {
  background-color: #202020b6;
  color: white;
}
tr:hover {background-color: #01eeff3d;}
.button{
  margin-left: 75px;
}
table{
  margin-left: 72px;
}

.title{
  margin-left: 150px;
  margin-top: 80px;
}

